* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  background-image: url("./assets/hollowKnight.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #eee;
}

.container {
  background-color: rgba(30, 30, 30, 0.85);
  padding: 3rem;
  border-radius: 8px;
  width: 500px;
  text-align: center;
}

.timer {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  letter-spacing: 4px;
  color: #71C0BB;
}

.timer-control button {
  background-color: #71C0BB;
  border: none;
  color: black;
  padding: 0.6rem 1.8rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0.3rem;
  transition: background-color 0.3s ease;
}

.timer-control button:hover {
  background-color: #4a8b89;
  color: white;
}
